@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;600&display=swap');

body {
  margin: 0;
  font-family: 'Inconsolata', -apple-system, monospace, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

// Colors & Other general settings
$mainRed: #ffadad;
$lightGray: #f2f0f0;
$darkGray: #aaaaaa;
$blk: #000;

@mixin btn {
  border: none;
  border-radius: 25px;
  font-size: 16px;
}

// Add thought-section
.thought__wrapper {
  border: 1px solid $blk;
  box-shadow: 7px 7px $blk;
  width: 50vw;
  margin: 30px auto;
  padding: 20px 25px 5px;
  position: relative;
}

.add-thought__input-field {
  width: calc(50vw - 50px);
  height: 60px;
  font-family: 'Inconsolata', monospace;
  padding: 10px;
  margin: 10px auto 5px auto;
  resize: none;
}

.add-thought__word-count {
  font-size: 12px;
  text-align: right;
}

.red-text {
  color: red;
}

.add-thought__input-field,
.add-thought__button,
.thought__heart-button {
  outline-color: $mainRed;
}

.add-thought__button {
  @include btn;
  background: $mainRed;
  padding: 10px 15px;
  margin: 0 0 15px 0;
}

.add-thought__button:hover {
  cursor: pointer;
}

.error__popup__wrapper {
  background: $mainRed;
  position: absolute;
  left: calc(50% - 150px);
  top: calc(50% - 75px);
  width: 300px;
  height: 150px;
  text-align: center;
  box-shadow: 7px 7px $blk;
  z-index: 2;
}

.error__popup {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

.error__btn {
  @include btn;
  background: #fff;
  padding: 5px 15px;
  margin-top: 15px;
}

.error__btn:hover {
  cursor: pointer;
}

.heart-counter__popup__wrapper {
  position: fixed;
  right: 18vw;
  top: 22vh;
  z-index: 2;
  background: url('/../img/heart-bg.png');
  background-size: 100%;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heart-counter__popup-text {
  font-size: 12px;
  margin-top: 24%;
}

.heart-counter__popup-counter {
  font-size: 12px;
  margin-top: 5px;
}
// List of thoughts
.thought__stats__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.thought__message {
  word-wrap: break-word;
}

.thought__stats__heart-count {
  margin: 15px 0;
}

.thought__stats__heart-count,
.thought__stats__timestamp {
  color: $darkGray;
}

.thought__heart-button {
  @include btn;
  padding: 10px 5px;
}

.thought__heart-button {
  cursor: pointer;
}

.thought__stats__heart {
  padding: 10px;
  text-align: center;
  border-radius: 50%;
}

// Heart backgrounds
.red-bg {
  background: $mainRed;
}

.gray-bg {
  background: $lightGray;
}

// MEDIA QUERIES
@media (min-width: 1024px) {
  .heart-counter__popup__wrapper {
    right: 18vw;
  }
}

@media (max-width: 768px) {
  .thought__wrapper {
    width: 70vw;
  }

  .add-thought__input-field {
    width: calc(70vw - 50px);
  }

  .heart-counter__popup__wrapper {
    top: 24vh;
    right: 18vw;
  }
}

@media (max-width: 560px) {
  .thought__wrapper {
    width: 90vw;
  }

  .add-thought__input-field {
    width: calc(90vw - 50px);
  }

  .heart-counter__popup__wrapper {
    top: 24vh;
    right: 11vw;
  }
}

@media (max-width: 375px) {
  .heart-counter__popup__wrapper {
    top: 27vh;
    right: -2vw;
  }
}
